.cart__icon {
  position: relative;
}
.cart__icon:hover {
  color: white;
}
.cart__badge {
  position: absolute;
  top: 0px;
  right: -10px;
  background: #df2020;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .cart__badge {
    position: absolute;
    top: 0px;
    left: 40px;
    background: #df2020;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header__shrink {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99999;
  box-shadow: 5px 5px 15px -5px #fde4e4;
}
